/* signup item */




/* movielist item */
.container-inner-title-1 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column; /* default*/

}

.now-inner-title-2 {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row; /* default*/
    justify-content: space-around;
    font-size: 24px;
    line-height: 30px;
}

.button-list {
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    width: 100px;
    align-items: center;
    letter-spacing: 0.75px;
    border: 1px solid #5F2EEA;
    color: #5F2EEA;
}

.form-1 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.75px;
    color: #A0A3BD;
    border: 2px solid #DEDEDE;
    border-radius: 4px;
}

.btv {
 justify-content: center;
 text-align: center;
}

.f-size {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #6E7191;
}

  
